/* app.css */

/* Title */
.title {
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Centering the Form */
.container {
    margin: 50px auto 0; /* This will center the div horizontally and add a top margin */
    width: 45%; /* Adjust the width of the form container as needed */
    padding: 20px;
    text-align: center; /* Center the content within the form container */
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-image: url('steth.jpg'); /* Add your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;  
}
.text-muted {
    font-size: 14px; /* Adjust font size as needed */
    color: #322aa3; /* Optional: Adjust font color */
}
